<div class="row">
  <section class="user-info">
    <h1>
      <%= gravatar_for @user %>
      <%= @user.name %>
    </h1>
    <%= @user.website %>
    <%= @user.self_introduction %>
  </section>
</div>

<div class="row">
    <% if @user.posts.any? %>
      <ol class="posts">
       <%= render @posts %>
      </ol>
    <% end %>
</div>
