<% @title = @user.user_name %>

<div class="row">
  <section class="user-info">
    <h1>
      <%= gravatar_for @user %>
      <%= @user.user_name %>
    </h1>
    <p><%= @user.self_introduction %></p>
    <p>website: <%= @user.website %></p>
  </section>
  <section class="stats">
    <%= render 'shared/stats' %>
    <%= render 'follow_form' if user_signed_in? %>
  </section>
</div>

<div class="row">
    <% if @user.posts.any? %>
      <ol class="posts">
       <%= render @posts %>
      </ol>
    <% end %>
</div>
