<header>
  <nav>
    <ul class="nav">
      <% if user_signed_in? %>
        <li><%= link_to 'トップページ', authenticated_root_path %></li>
        <%= render 'layouts/search_form' %>
        <li><%= link_to 'マイページ', current_user %></li>
        <% if unchecked_notifications.any? %>
          <li><%= link_to '通知(未確認)', notifications_path %></li>
        <% else %>
          <li><%= link_to '通知', notifications_path %></li>
        <% end %>
        <li><%= link_to 'プロフィール変更', edit_user_registration_path %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to 'サインアップ', new_user_registration_path %></li>
        <li><%= link_to 'ログイン', new_user_session_path %></li>
      <% end %>
    </ul>
  </nav>
</header>
